.btn {
  text-transform: uppercase !important;
  min-width: $btn-min-width;
  margin: 0 $btn-margin-x;
  &:not([class*=btn-outline]) {
    border: 0;
  }
  &[class*=btn-outline] {
    padding: ($input-btn-padding-y - rem($input-btn-border-width)) ($input-btn-padding-x - rem($input-btn-border-width));
  }

  &.disabled,
  &:disabled {
    cursor: no-drop;
  }
}

//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  .btn-flat-#{$color} {
    @include button-flat-variant($value);
  }
}

@each $color, $value in $theme-colors {
  .btn-raised-#{$color} {
    @include button-raised-variant($value);
  }
}