@import "~material-colors/dist/colors.scss";

$red-50: $md-red-50;
$red-100: $md-red-100;
$red-200: $md-red-200;
$red-300: $md-red-300;
$red-400: $md-red-400;
$red-500: $md-red-500;
$red-600: $md-red-600;
$red-700: $md-red-700;
$red-800: $md-red-800;
$red-900: $md-red-900;
$red-a100: $md-red-a100;
$red-a200: $md-red-a200;
$red-a400: $md-red-a400;
$red-a700: $md-red-a700;

$pink-50: $md-pink-50;
$pink-100: $md-pink-100;
$pink-200: $md-pink-200;
$pink-300: $md-pink-300;
$pink-400: $md-pink-400;
$pink-500: $md-pink-500;
$pink-600: $md-pink-600;
$pink-700: $md-pink-700;
$pink-800: $md-pink-800;
$pink-900: $md-pink-900;
$pink-a100: $md-pink-a100;
$pink-a200: $md-pink-a200;
$pink-a400: $md-pink-a400;
$pink-a700: $md-pink-a700;

$purple-50: $md-purple-50;
$purple-100: $md-purple-100;
$purple-200: $md-purple-200;
$purple-300: $md-purple-300;
$purple-400: $md-purple-400;
$purple-500: $md-purple-500;
$purple-600: $md-purple-600;
$purple-700: $md-purple-700;
$purple-800: $md-purple-800;
$purple-900: $md-purple-900;
$purple-a100: $md-purple-a100;
$purple-a200: $md-purple-a200;
$purple-a400: $md-purple-a400;
$purple-a700: $md-purple-a700;

$deep-purple-50: $md-deep-purple-50;
$deep-purple-100: $md-deep-purple-100;
$deep-purple-200: $md-deep-purple-200;
$deep-purple-300: $md-deep-purple-300;
$deep-purple-400: $md-deep-purple-400;
$deep-purple-500: $md-deep-purple-500;
$deep-purple-600: $md-deep-purple-600;
$deep-purple-700: $md-deep-purple-700;
$deep-purple-800: $md-deep-purple-800;
$deep-purple-900: $md-deep-purple-900;
$deep-purple-a100: $md-deep-purple-a100;
$deep-purple-a200: $md-deep-purple-a200;
$deep-purple-a400: $md-deep-purple-a400;
$deep-purple-a700: $md-deep-purple-a700;

$indigo-50: $md-indigo-50;
$indigo-100: $md-indigo-100;
$indigo-200: $md-indigo-200;
$indigo-300: $md-indigo-300;
$indigo-400: $md-indigo-400;
$indigo-500: $md-indigo-500;
$indigo-600: $md-indigo-600;
$indigo-700: $md-indigo-700;
$indigo-800: $md-indigo-800;
$indigo-900: $md-indigo-900;
$indigo-a100: $md-indigo-a100;
$indigo-a200: $md-indigo-a200;
$indigo-a400: $md-indigo-a400;
$indigo-a700: $md-indigo-a700;

$blue-50: $md-blue-50;
$blue-100: $md-blue-100;
$blue-200: $md-blue-200;
$blue-300: $md-blue-300;
$blue-400: $md-blue-400;
$blue-500: $md-blue-500;
$blue-600: $md-blue-600;
$blue-700: $md-blue-700;
$blue-800: $md-blue-800;
$blue-900: $md-blue-900;
$blue-a100: $md-blue-a100;
$blue-a200: $md-blue-a200;
$blue-a400: $md-blue-a400;
$blue-a700: $md-blue-a700;

$light-blue-50: $md-light-blue-50;
$light-blue-100: $md-light-blue-100;
$light-blue-200: $md-light-blue-200;
$light-blue-300: $md-light-blue-300;
$light-blue-400: $md-light-blue-400;
$light-blue-500: $md-light-blue-500;
$light-blue-600: $md-light-blue-600;
$light-blue-700: $md-light-blue-700;
$light-blue-800: $md-light-blue-800;
$light-blue-900: $md-light-blue-900;
$light-blue-a100: $md-light-blue-a100;
$light-blue-a200: $md-light-blue-a200;
$light-blue-a400: $md-light-blue-a400;
$light-blue-a700: $md-light-blue-a700;

$cyan-50: $md-cyan-50;
$cyan-100: $md-cyan-100;
$cyan-200: $md-cyan-200;
$cyan-300: $md-cyan-300;
$cyan-400: $md-cyan-400;
$cyan-500: $md-cyan-500;
$cyan-600: $md-cyan-600;
$cyan-700: $md-cyan-700;
$cyan-800: $md-cyan-800;
$cyan-900: $md-cyan-900;
$cyan-a100: $md-cyan-a100;
$cyan-a200: $md-cyan-a200;
$cyan-a400: $md-cyan-a400;
$cyan-a700: $md-cyan-a700;

$teal-50: $md-teal-50;
$teal-100: $md-teal-100;
$teal-200: $md-teal-200;
$teal-300: $md-teal-300;
$teal-400: $md-teal-400;
$teal-500: $md-teal-500;
$teal-600: $md-teal-600;
$teal-700: $md-teal-700;
$teal-800: $md-teal-800;
$teal-900: $md-teal-900;
$teal-a100: $md-teal-a100;
$teal-a200: $md-teal-a200;
$teal-a400: $md-teal-a400;
$teal-a700: $md-teal-a700;

$green-50: $md-green-50;
$green-100: $md-green-100;
$green-200: $md-green-200;
$green-300: $md-green-300;
$green-400: $md-green-400;
$green-500: $md-green-500;
$green-600: $md-green-600;
$green-700: $md-green-700;
$green-800: $md-green-800;
$green-900: $md-green-900;
$green-a100: $md-green-a100;
$green-a200: $md-green-a200;
$green-a400: $md-green-a400;
$green-a700: $md-green-a700;

$light-green-50: $md-light-green-50;
$light-green-100: $md-light-green-100;
$light-green-200: $md-light-green-200;
$light-green-300: $md-light-green-300;
$light-green-400: $md-light-green-400;
$light-green-500: $md-light-green-500;
$light-green-600: $md-light-green-600;
$light-green-700: $md-light-green-700;
$light-green-800: $md-light-green-800;
$light-green-900: $md-light-green-900;
$light-green-a100: $md-light-green-a100;
$light-green-a200: $md-light-green-a200;
$light-green-a400: $md-light-green-a400;
$light-green-a700: $md-light-green-a700;

$lime-50: $md-lime-50;
$lime-100: $md-lime-100;
$lime-200: $md-lime-200;
$lime-300: $md-lime-300;
$lime-400: $md-lime-400;
$lime-500: $md-lime-500;
$lime-600: $md-lime-600;
$lime-700: $md-lime-700;
$lime-800: $md-lime-800;
$lime-900: $md-lime-900;
$lime-a100: $md-lime-a100;
$lime-a200: $md-lime-a200;
$lime-a400: $md-lime-a400;
$lime-a700: $md-lime-a700;

$yellow-50: $md-yellow-50;
$yellow-100: $md-yellow-100;
$yellow-200: $md-yellow-200;
$yellow-300: $md-yellow-300;
$yellow-400: $md-yellow-400;
$yellow-500: $md-yellow-500;
$yellow-600: $md-yellow-600;
$yellow-700: $md-yellow-700;
$yellow-800: $md-yellow-800;
$yellow-900: $md-yellow-900;
$yellow-a100: $md-yellow-a100;
$yellow-a200: $md-yellow-a200;
$yellow-a400: $md-yellow-a400;
$yellow-a700: $md-yellow-a700;

$amber-50: $md-amber-50;
$amber-100: $md-amber-100;
$amber-200: $md-amber-200;
$amber-300: $md-amber-300;
$amber-400: $md-amber-400;
$amber-500: $md-amber-500;
$amber-600: $md-amber-600;
$amber-700: $md-amber-700;
$amber-800: $md-amber-800;
$amber-900: $md-amber-900;
$amber-a100: $md-amber-a100;
$amber-a200: $md-amber-a200;
$amber-a400: $md-amber-a400;
$amber-a700: $md-amber-a700;

$orange-50: $md-orange-50;
$orange-100: $md-orange-100;
$orange-200: $md-orange-200;
$orange-300: $md-orange-300;
$orange-400: $md-orange-400;
$orange-500: $md-orange-500;
$orange-600: $md-orange-600;
$orange-700: $md-orange-700;
$orange-800: $md-orange-800;
$orange-900: $md-orange-900;
$orange-a100: $md-orange-a100;
$orange-a200: $md-orange-a200;
$orange-a400: $md-orange-a400;
$orange-a700: $md-orange-a700;

$deep-orange-50: $md-deep-orange-50;
$deep-orange-100: $md-deep-orange-100;
$deep-orange-200: $md-deep-orange-200;
$deep-orange-300: $md-deep-orange-300;
$deep-orange-400: $md-deep-orange-400;
$deep-orange-500: $md-deep-orange-500;
$deep-orange-600: $md-deep-orange-600;
$deep-orange-700: $md-deep-orange-700;
$deep-orange-800: $md-deep-orange-800;
$deep-orange-900: $md-deep-orange-900;
$deep-orange-a100: $md-deep-orange-a100;
$deep-orange-a200: $md-deep-orange-a200;
$deep-orange-a400: $md-deep-orange-a400;
$deep-orange-a700: $md-deep-orange-a700;

$brown-50: $md-brown-50;
$brown-100: $md-brown-100;
$brown-200: $md-brown-200;
$brown-300: $md-brown-300;
$brown-400: $md-brown-400;
$brown-500: $md-brown-500;
$brown-600: $md-brown-600;
$brown-700: $md-brown-700;
$brown-800: $md-brown-800;
$brown-900: $md-brown-900;

$grey-50: $md-grey-50;
$grey-100: $md-grey-100;
$grey-200: $md-grey-200;
$grey-300: $md-grey-300;
$grey-400: $md-grey-400;
$grey-500: $md-grey-500;
$grey-600: $md-grey-600;
$grey-700: $md-grey-700;
$grey-800: $md-grey-800;
$grey-900: $md-grey-900;

$blue-grey-50: $md-blue-grey-50;
$blue-grey-100: $md-blue-grey-100;
$blue-grey-200: $md-blue-grey-200;
$blue-grey-300: $md-blue-grey-300;
$blue-grey-400: $md-blue-grey-400;
$blue-grey-500: $md-blue-grey-500;
$blue-grey-600: $md-blue-grey-600;
$blue-grey-700: $md-blue-grey-700;
$blue-grey-800: $md-blue-grey-800;
$blue-grey-900: $md-blue-grey-900;

$dark-text-primary: $md-dark-text-primary;
$dark-text-secondary: $md-dark-text-secondary;
$dark-text-disabled: $md-dark-text-disabled;
$dark-text-dividers: $md-dark-text-dividers;

$light-text-primary: $md-light-text-primary;
$light-text-secondary: $md-light-text-secondary;
$light-text-disabled: $md-light-text-disabled;
$light-text-dividers: $md-light-text-dividers;

$dark-icons-active: $md-dark-icons-active;
$dark-icons-inactive: $md-dark-icons-inactive;

$light-icons-active: $md-light-icons-active;
$light-icons-inactive: $md-light-icons-inactive;

$white: $md-white;

$black: $md-black;
