.form-control {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: $form-control-bg-size;
  padding: .575rem 0;
  transition: background 0s ease-out;

  @include form-control-underline(theme-color(primary));

  &:focus,
  .is-focused & {
    background-size: $form-control-bg-size-active;
    transition-duration: 0.3s;
  }

  &.has-success {
    color: theme-color(success);
    @include form-control-underline(theme-color(success));
  }

  &.has-info {
    color: theme-color(info);
    @include form-control-underline(theme-color(info));
  }

  &.has-warning {
    color: theme-color(warning);
    @include form-control-underline(theme-color(warning));
  }

  &.has-danger {
    color: theme-color(danger);
    @include form-control-underline(theme-color(danger));
  }
}

.form-group {
  position: relative;
  .label {
    position: absolute;
    pointer-events: none;
    transition: 0.3s ease all;

    // hint to browser for optimization
    &.label-floating {
      will-change: left, top, contents; // TODO: evaluate effectiveness - looking for community feedback
    }
  }

  &.is-focused .label {
  }
}


