.form-control {
  margin-top: $input-margin-top;
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: $form-control-bg-size;
  padding: $input-padding-y 0;
  //transition: background 0s ease-out;

  @include form-control-underline-bg-image(theme-color(primary));

  &:focus,
  .is-focused & {
    background-size: $form-control-bg-size-active;
    transition-duration: 0.3s;
  }

  @each $status in $statuses {

    // Text color

    @if ($form-control-keep-input-status-color == true) {
      .has-#{$status} & {
        color: theme-color($status);
      }
    }

    // Underline

    @if ($form-control-keep-underline-status-color == true) {
      .has-#{$status}.is-filled & /* keep status color when input is filled*/
      {
        background-size: $form-control-bg-size-active;
        @include form-control-underline-bg-image(theme-color($status));
      }
    }

    .has-#{$status}.is-focused &, /* show status color when input is focused */
    .has-#{$status}.keep-underline & /* keep status color when input is empty */
    {
      background-size: $form-control-bg-size-active;
      @include form-control-underline-bg-image(theme-color($status));
    }
  }

  // Exclusions

  .form-inline & {
    margin-top: 0;
  }
}

.form-group {
  position: relative;
}

.label {
  position: absolute;
  @include label-static();
  pointer-events: none;
  transition: 0.3s ease all;

  color: $label-color;

  // FIXME: label-floating too low above input text
  &.label-floating {
    font-size: 1rem;
    margin-top: 0;
    top: $input-margin-top + $input-padding-y;

    .is-focused &,
    .is-filled & {
      @include label-static();
    }

    .is-focused & {
      color: theme-color(primary);
    }
  }

  @each $status in $statuses {
    //.has-#{$status} &,
    //.is-filled.is-focused.has-#{$status} & {
    //  color: theme-color($status);
    //}
  }
}

