// Color contrast
@function detect-color-contrast($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return 'dark';
  } @else {
    @return 'light';
  }
}

@function svg-bg-icon-base($color, $height: 24, $width: 24, $min-y: 0, $min-x: 0) {
  @return (
          fill: $color,
          height: $height,
          viewBox: $min-x $min-y $width $height,
          width: $width
  )
}
