@font-face {
  font-family: $bmt-material-icons-font-family-name;
  src: url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.eot?aphcih');
  src: url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.eot?aphcih#iefix') format('embedded-opentype'),
  url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.ttf?aphcih') format('truetype'),
  url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.woff?aphcih') format('woff'),
  url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.svg?aphcih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="#{$bmt-material-icons-class-prefix}-"], [class*=" #{$bmt-material-icons-class-prefix}-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $bmt-material-icons-font-family-name !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// material icons extract
$bmt-icons: (
        arrow-drop-down: "\e5c5",
        arrow-drop-up: "\e5c7",
        check-box: "\e834",
        check-box-outline-blank: "\e835",
        navigate-before: "\e408",
        navigate-next: "\e409",
        expand-less: "\e5ce",
        expand-more: "\e5cf",
        radio-button-unchecked: "\e836",
        radio-button-checked: "\e837",
        unfold-less: "\e5d6",
        unfold-more: "\e5d7",
);

@each $icon, $value in $bmt-icons {
  .#{$bmt-material-icons-class-prefix}-#{$icon}:before {
    content: $value;
  }
}

// =============================================================================
// Inline SVG
// =============================================================================

$bmt-svg-icons: (
        check-box: (
                path1d: "M0 0h24v24H0z",
                path2d: "M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
        ),
        check-box-outline-blank: (
                path1d: "M0 0h24v24H0z",
                path2d: "M19 5v14H5V5h14m0-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"
        )
);

@mixin svg-icon($color, $paths) {
  background-position: center;
  background-repeat: no-repeat;
  @include svg((
          //fill: $color,
          height: 24,
          viewBox: 0 0 24 24,
          width: 24
  )) {
    @include svg('path', (
            fill: none,
            d: map-get($paths, path1d)
    ));
    @include svg('path', (
            d: map-get($paths, path1d)
    ));
  }
}

.checkbox-empty {
  background-position: center;
  background-repeat: no-repeat;
  @include svg((
          fill: map-get($theme-colors, primary),
          height: 24,
          viewBox: 0 0 24 24,
          width: 24
  )) {
    @include svg('path', (
            d: 'M0 0h24v24H0z',
            fill: none
    ));
    @include svg('path', (
            d: 'M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'
    ));
  }
}

.checkbox--checked-generated {
  @include svg-icon(map-get($theme-colors, warning), map-get($bmt-svg-icons, check-box));
}

.checkbox-generated {
  @include svg-icon(map-get($theme-colors, primary), map-get($bmt-svg-icons, check-box-outline-blank));
}
