@font-face {
  font-family: $bmt-material-icons-font-family-name;
  src: url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.eot?aphcih');
  src: url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.eot?aphcih#iefix') format('embedded-opentype'),
  url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.ttf?aphcih') format('truetype'),
  url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.woff?aphcih') format('woff'),
  url('#{$bmt-material-icons-font-path}/#{$bmt-material-icons-file-name}.svg?aphcih#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="#{$bmt-material-icons-class-prefix}-"], [class*=" #{$bmt-material-icons-class-prefix}-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $bmt-material-icons-font-family-name !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// material icons extract
$bmt-icons: (
        arrow-drop-down: "\e5c5",
        arrow-drop-up: "\e5c7",
        check-box: "\e834",
        check-box-outline-blank: "\e835",
        navigate-before: "\e408",
        navigate-next: "\e409",
        expand-less: "\e5ce",
        expand-more: "\e5cf",
        radio-button-unchecked: "\e836",
        radio-button-checked: "\e837",
        unfold-less: "\e5d6",
        unfold-more: "\e5d7",
);

@each $icon, $value in $bmt-icons {
  .#{$bmt-material-icons-class-prefix}-#{$icon}:before {
    content: $value;
  }
}

