// Bootstrap Material Theme
// By Piotr Starzec starzec.piotr.12@gmail.com

// Font
$html-font-size:    14px !default;

// EXTERNAL LIBRARY VARIABLE OVERRIDE: roboto-fontface
$roboto-font-path:  '../../node_modules/roboto-fontface/fonts' !default;

// EXTERNAL LIBRARY VARIABLE OVERRIDE: sass-rem
$rem-baseline:      $html-font-size !default;
