// Bootstrap Material Theme
// By Piotr Starzec starzec.piotr.12@gmail.com
//
// Variables

// Colors

$blue:    $blue-500 !default;
$indigo:  $indigo-500 !default;
$purple:  $purple-500 !default;
$pink:    $pink-500 !default;
$red:     $red-500 !default;
$orange:  $orange-500 !default;
$yellow:  $yellow-500 !default;
$green:   $green-500 !default;
$teal:    $teal-500 !default;
$cyan:    $cyan-500 !default;
$grey:    $grey-500 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $teal,
        "secondary":  $grey,
        "success":    $green,
        "info":       $cyan,
        "warning":    $orange,
        "danger":     $red
), $theme-colors);

// Color modifies

$highlight-modifier:        7.5% !default;
$highlight-modifier-light:  $highlight-modifier !default;
$highlight-modifier-dark:   $highlight-modifier !default;


// Font

$html-font-size:        14px !default;
// EXTERNAL LIBRARY VARIABLE OVERRIDE: roboto-fontface
$roboto-font-path:  '../../node_modules/roboto-fontface/fonts' !default;
// EXTERNAL LIBRARY VARIABLE OVERRIDE: sass-rem
$rem-baseline:      $html-font-size !default;

// Buttons

$input-btn-min-width:   4rem !default;
$btn-min-width:         $input-btn-min-width !default;

$input-btn-margin-x:    .5rem !default;
$btn-margin-x:          $input-btn-margin-x !default;

// Form

$form-control-bg-size:        0 100%, 100% 100% !default;
$form-control-bg-size-active: 100% 100%, 100% 100% !default;
