@mixin form-control-underline-bg-image($color) {
  background-image: linear-gradient(
                  to top,
                  $color 2px,
                  fade-out($color, 1) 2px
  ),
  linear-gradient(
                  to top,
                  $input-border-color 1px,
                  fade-out($input-border-color, 1) 1px
  );
}

@mixin label-static {
  top: $input-margin-top - $input-padding-y * 2;
  font-size: $label-font-size;
  margin-bottom: 0;
}